body {
  font-family: 'Inter', sans-serif;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.super-links a {
  text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
}